# --- DATABASE CONFIG ---
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=smartload
POSTGRES_HOST=db
POSTGRES_PORT=5432

# --- AI CONFIG ---
OPENAI_API_KEY=your_api_key_here
GROQ_API_KEY=your_groq_api_key_here
OPENROUTER_API_KEY=your_openrouter_api_key_here

# --- EMAIL CONFIG ---
EMAIL_USER=twoj.email@gmail.com
EMAIL_PASSWORD=abcdefghijklmnop
EMAIL_IMAP_SERVER=imap.gmail.com

# --- SETTINGS ---
DEBUG=True